[Unit]
Description=Server RX
After=multi-user.target

[Service]
Type=simple

WorkingDirectory=/home/pi/radio_control
ExecStart=/home/pi/radio_control/audio_client_on_server.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
