[Unit]
Description=Server TX
After=multi-user.target

[Service]
Type=simple

WorkingDirectory=/home/pi/radio_control
ExecStart=/home/pi/radio_control/audio_server.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
