[Unit]  
Description=UDP ping responce  
After=multi-user.target  
  
[Service]  
User=root  
Group=root  
Type=simple  
  
WorkingDirectory=/home/pi/radio_control
ExecStart=/home/pi/radio_control/client_ping_responce.py  
Restart=always  
RestartSec=5  
  
[Install]  
WantedBy=multi-user.target
